version: '3'

services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    container_name: backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: ./frontend/new.Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend